@import "colors.css";

* {
	all: unset;
    border: none;
    border-radius: 0;
    font: 13px "Adwaita Sans";
}

#workspaces button {
	margin: 6px 2px;
	padding: 0px 6px;
    border-radius: 6px;
    border: 0px;
	background-color: @secondary_container;
    color: @on_secondary_container;
}

#workspaces button.active {
    color: @on_primary_container;
    background: @primary_container;
}

tooltip {
	background: @background;
	color: @on_background;
}

#clock, #wireplumber, #battery, #network, #backlight {
	background: @primary_container;
	padding: 5px;
	border-radius: 5px;
	color: @on_primary_container;
	margin: 6px;
}
